body {
	background-color: #121212 !important;
}
.bg-dark {
	background-color: rgba(42, 42, 46) !important;
}
.destaques {
  margin-top: 60px;
}
.destaques .card, .destaques .card-img {
  border: 0px transparent;
  border-radius: 0px;
  background-color: #0007
}
.destaques .slick-active {
/*   border: 2px solid rgb(134, 6, 126); */
}
#formLogin{
	position: fixed;
  padding-top: 22px;
  background-color:rgba(42, 42, 46,0.9);
  border:purple solid transparent;
  width: 300px;
  height: 300px;
  border-radius:10px;
  right: 10px !important;
  transition: 0.5s;
  top: -300px;
  z-index: 2;
  left: auto !important;
  right: 15px;
}
.carouselJogo {
  height: 400px;
  z-index: -1;
}
.jogo-container-bg {
	height: 550px;
	filter: blur(8px);
}
.jogo-container-img {
	top: -530px;
	position: relative;
	width: 80%;
	max-height: 550px;
}
.card {
  background-color: #2a2a2e;
}
.maisvendidos .card {
  min-width: 250px;
}
.nav-tabs .nav-link {
	color: #495057 !important;
}