    /* body{
      background-image: url("../IMAGENSPARAEDIÇAO/logo.png");
      background-repeat: no-repeat;
      background-size: 45%;
      background-position: bottom left;
      background-repeat: no-repeat;
      background-color: #343a40;
        
    }  

  .navbar{
    z-index: 10000;
  }
.barra{
  text-align: center;
}
  .bg-colorbarra{
    align-content: center;
    background-color: #5d115f;

  }
  .page-footer {
    background-color: #5d115f;
  }
  .text-promo{
    
    color: white;
  }
  .card {
    align-content: flex-end;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .jumbotron{
    background-color: whitesmoke; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .carousel-caption{
  position: absolute;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.page-footer{

}
.nomejogo{
  text-align: center;
  font-size: 40px;
}
.detalhejogo{
  text-align: center;
} */
body {
	background-color: #121212 !important;
}
.bg-dark {
	background-color: #282828 !important;
}
.destaques {
  margin-top: 60px;
}
.destaques .card, .destaques .card-img {
  border: 0px transparent;
  border-radius: 0px;
  background-color: #0007
}
.destaques .slick-active {
/*   border: 2px solid rgb(134, 6, 126); */
}
#formLogin{
  padding-top: 22px;
  background-color:purple;
  border:purple solid transparent;
  width: 300px;
  height: 300px;
  border-radius:10px;
  right: 10px !important;
  transition: 0.5s;
  top: -300px;
  z-index: 2;
  left: auto !important;
  right: 15px;
}